<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MuViPApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MuViPApp.Properties.Settings>
            <setting name="largeimage" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="colorimage" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>Depth16Bit</value>
            </setting>
        </MuViPApp.Properties.Settings>
    </userSettings>
</configuration>